* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  width: 100%;
  height: 100vh;
  background: #33333355;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: #f2dee1;
  width: 40%;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  background: #06d1c6;
  color: #02465d;
  box-shadow: 0 5px 10px rgb(1, 49, 78);
}

.song-img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 15px 60px rgba(6, 86, 172, 0.9);
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #06d1c6;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #06d1c6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(6, 86, 172, 0.9);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #06d1c6;
  box-shadow: 0 10px 20px rgba(6, 86, 172, 0.9);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #fff;
}
@media only screen and (max-width: 992px) {
  .music-player {
    margin-bottom: 25%;
    width: 70%;
    height: 70%;
  }
  .song-img {
    width: 550px;
    margin-top: 25%;
  }
  .music-player h1 {
    font-size: 3rem;
  }
  .music-player p {
    font-size: 2rem;
  }
  #progress {
    height: 10px;
  }
  #progress::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
  }
  .controls div {
    width: 95px;
    height: 95px;
  }
  .controls div:nth-child(2) {
    transform: scale(1.4);
  }
}
